{% extends 'base.html.twig' %}

{% block title %}New LigneCommande{% endblock %}

{% block body %}
   <!-- begin app -->
    <div class="app">
        <!-- begin app-wrap -->
        <div class="app-wrap">
            <!-- begin pre-loader -->
            <div class="loader">
                <div class="h-100 d-flex justify-content-center">
                    <div class="align-self-center">
                        <img src="img/loader/loader.svg" alt="loader">
                    </div>
                </div>
            </div>
            <!-- end pre-loader -->
            <!-- begin app-header -->
            <header></header>
            <!-- end app-header -->
            <!-- begin app-container -->
            <div class="app-container">
                <!-- begin app-nabar -->
               
                <!-- end app-navbar -->
                <!-- begin app-main -->
                <div class="app-main" id="main">
                    <!-- begin container-fluid -->
                    <div class="container-fluid">
                        <!-- begin row -->
                        <div class="row">
                            <div class="col-md-12 m-b-30">
                                <!-- begin page title -->
                                
                                <div class="d-block d-lg-flex flex-nowrap align-items-center">
                                    <div class="page-title mr-4 pr-4 border-right">
                                        <h1>Activite</h1>
                                    </div>
                                    <div class="breadcrumb-bar align-items-center">
                                        <nav>
                                            <ol class="breadcrumb p-0 m-b-0">
                                                <li class="breadcrumb-item">
                                                    <a href="index.html"><i class="ti ti-home"></i></a>
                                                </li>
                                                <li class="breadcrumb-item">
                                                    Activite
                                                </li>
                                                <li class="breadcrumb-item active text-primary" aria-current="page">Default</li>
                                            </ol>
                                        </nav>
                                    </div>
                                <!-- end page title -->
                            </div>
                        </div>
                        <!-- Notification -->
                        
                        <!-- end row -->
                        <!-- begin row -->
                        <div class="row">
                          
                            <div class="container-fluid py-0">
                                <div class="row">
                                    
                                    <div class="col-md-10 main-content"><br>
                                                    <br><br>
                                        <div class="card shadow" >
                                           
                        
                                            <div class="card-body">
                                                <div class="table-responsive">
    <h1> Ajouter LigneCommande</h1>

    {{ include('ligne_commande/_form.html.twig') }}

{% endblock %}
