{% extends 'basePatient.html.twig' %}

{% block title %}Reset your password{% endblock %}
{% block body %}
<!-- Start Preloader Area -->
        <div class="preloader-area">
            <div class="spinner">
                <div class="inner">
                    <div class="disc"></div>
                    <div class="disc"></div>
                    <div class="disc"></div>
                </div>
            </div>
        </div>
       
        <div class="search-overlay">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    <div class="search-overlay-layer"></div>
                    
                    <div class="search-overlay-close">
                        <span class="search-overlay-close-line"></span>
                        <span class="search-overlay-close-line"></span>
                    </div>

                    <div class="search-overlay-form">
                        <form>
                            <input type="text" class="input-search" placeholder="Search here...">
                            <button type="submit"><i class='flaticon-search'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-banner-with-full-image item-bg3">
            <div class="container">
                <div class="page-banner-content-two">
                    <h2>Login</h2>
                    <ul>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>Reset your password</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <!-- Start Login Area -->
        <section class="login-area ptb-100">
            <div class="container">
                <div class="login-form">
                    <h2>Login</h2>

                   {{ form_start(requestForm) }}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label" for="inputEmail">Email*</label>
                                     {{ form_widget(requestForm.email, { 'attr': {'class': 'form-control', 'placeholder': 'Email'} }) }}
                                </div>
                                <div class="mb-3">
                                   <small>
                                     Enter your email address, and we will send you a
                                     link to reset your password.
                                   </small>
                                </div>
                            </div>
                        </div>
                       <button class="btn btn-lg btn btn-primary text-uppercase">Send password reset email</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </section>
        <!-- End Login Area -->
       
        <!-- Start Subscribe Area -->
        <div class="subscribe-area bg-top">
            <div class="container">
                <div class="subscribe-inner-box">
                    <div class="subscribe-content">
                        <h2>Subscribe Our Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet consetetur sadipscing elitr sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat sed diam voluptua.</p>
    
                        <form class="newsletter-form" data-bs-toggle="validator">
                            <div class="row">
                                <div class="col-lg-8 col-md-6">
                                    <input type="email" class="input-newsletter" placeholder="Enter your email" name="EMAIL" required="" autocomplete="off">
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <button type="submit">Subscribe Now <i class="flaticon-paper-plane"></i></button>
                                    <div id="validator-newsletter" class="form-result"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscribe Area -->

        <!-- Start Footer Area -->
    
        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <p>
                        Copyright Psylo. All rights reserved By
                        <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='flaticon-up-arrow'></i>
        </div>
{% endblock %}
